// Colors

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-accent: #777;
$color-white: #fff;
$color-error: #e4757a;
$primary-dark: darken($color-primary, 25%);

// Font

$font: 'Lato', sans-serif;

// Breakpoints

$breakpoint: ('m': 768px);
// $break-m: 768px;


