/* ============================================= */
/*              Buttons                          */
/* ============================================= */

%btn {
    @include margin($w: 100%,
    $pad: 10px 0) {
        margin-top: 15px;
        color: $color-white;
        text-transform: uppercase;
        border-radius: 5px;
    }
    
  }
  
  .default {
      @extend %btn;
    background-color: $color-secondary;
  }
  
  .error {
      @extend %btn;
    background-color: $color-error;
  }
  
  .info {
      @extend %btn;
    background-color: #927bc1;
  }
  
  .success {
      @extend %btn;
    background-color: #63cc82;
  }
  
  .warning {
      @extend %btn;
    background-color: #fd7856;
  }