/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
    flex-basis: 100%;
  }
  
  .input{
    @include center($disp: block);
    @include margin(94%,
    10px auto 0,
    10px) {
        border: none;
        border-bottom: 5px solid $color-primary;
    }
    
  }
  
  .hidden {
      @include position($abs: absolute,
      $left: -10000px,
      $top: auto) {
        width:1px;
        height:1px;
        overflow:hidden;
      }
    
    
    
  }