/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@include mq('m') {

    .container {
        @include center (block,
        auto, auto){
            max-width: 1400px;
        } 
    }
    
    .centered {
      @include center(block,
      auto, auto);
    }
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
        @include flexy($just: center){
            margin-top: 0;
            align-items: center;
        }
      
    }
    
    [class^=col] + [class^=col] {
      margin-left: 10px;
    }

    // each loop

    @each $flex, $basis in $flex-basis {
        .col-#{$flex} {
            flex-basis: $basis;
        }
    }
    
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    
    .nav-link {
      flex-basis: 100px;
    }
    
    .btn {
      padding: 10px 30px;
    }
    
    .btn + .btn {
      margin-left: 10px;
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
}